name: Build Images On Push
on:
  push:
    branches:
      - dev
      - fedora-41
    paths-ignore:
      - '**/README.md'
      - '**/.github/workflows/iso.yml'

jobs:
  build_on_push:
    permissions:
      contents: read
      packages: write
      id-token: write

    uses: ./.github/workflows/build.yml
    secrets: inherit
